# dependencies
node_modules/

# build outputs
.next/
dist/
build/
out/
*.tsbuildinfo
next-env.d.ts

# environment files
.env
.env.local
.env.*

# logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# database
data/
*.db
*.sqlite
*.sqlite3

# Synthea FHIR imports
public/synthea/

output/fhir/*
!output/fhir/sample/
!output/fhir/sample/*.json

synthea.jar
*.jar

.vercel
